<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>问题</title>
</head>
<body>
<ul>
    {% for question in questions %}
    <li>
        {% if question.id == ques_id %}
            <form action="" method="post">
                <input type="text" name="name" placeholder="{{question.name}}" required>
                <input type="submit" value="完成">
            </form>

        {% else %}
            <a href="{% url 'QC:vote' question.id %}">{{question.name}}</a>
            <a href="{% url 'QC:edit_question' question.id %}">编辑</a>
            <a href="{% url 'QC:delete_question' question.id %}">删除</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>
<a href="{% url 'QC:add_question' %}">添加问题</a>

</body>
</html>