<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投票</title>
</head>
<body>
<h2>{{question.name}}</h2>

<ul>
    <li>
        {% for choice in choices %}
        {% if choice.id == choice_id %}
        <form action="" method="post">
            <input type="text" placeholder="{{choice.name}}" name="name" required>
            <input type="submit" value="完成">
        </form>
        {% else %}
        <form action="{% url 'QC:score' question.id %}" method="post">
                {{choice.name}}
                <input type="radio" name="choice" value="{{choice.id}}" checked>
                <a href="{% url 'QC:edit_choice' choice.id %}">编辑</a>
                <a href="{% url 'QC:delete_choice' choice.id %}">删除</a><br>
        {% endif %}
    {% endfor %}
        <input type="submit" value="投票">
        </form>
    </li>
</ul>

<a href="{% url 'QC:add_choice' question.id %}">给该问题添加选项</a>

</body>
</html>