<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/bootstrap-4.3.1-dist/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/common.css" rel="stylesheet">
    <title>添加选项</title>
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-md-12"><h1>增加选项</h1></div>
        <div class="col-md-12">
            <form action="{% url 'QC:add_choice' ques_id %}" method="post">
                <input class="input-group-lg" name="name" placeholder="选项内容" type="text" required>
                <input class="input-group-lg" type="submit">
            </form>
            <br>
            <a href="/">
                <button class="btn btn-secondary">返回首页</button>
            </a>
        </div>
    </div>
</div>
</body>
</html>
